.title-and-forms {
    display: block;
    gap: 1.5rem;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    margin-bottom: 3.75rem;
    justify-content: space-evenly;
}


.title-amount-title-text {
    grid-template-columns: 1fr;
    display:inline-block;
    margin-bottom: 0;
    margin-right: -1.5rem;
    
}

.help-text {
    color: #696969;
    font-size: .850rem;
    margin-bottom: 0;
}

.title-amount {
    
        /* grid-row-start: section;
        grid-column-start: 4;
        grid-row-end: section;
        grid-column-end: 11; */
    grid-template-columns: 1fr 3fr;
    display:inline-block;
}

.hidden-input {
    display: none;
    visibility: none;
}